html,body
{
margin:0;padding:0
}

header
{ 
display: block;
}
#header
{
height: 30px;
font-size: 15pt;
color: #fff;
padding: .5em;
background-color: #3399CC;
border-bottom: 1px solid gray;
border-color: #4C3327;
}

#userAgent{
width: 100%;
height: 50px;
}

#testLatency{
width: 100%;
height: 50px;
}

#testBandwidth{
width: 100%;
height: 50px;
}

#container
{
width: 1000px;
height: auto;
margin: 0 auto;
line-height: 130%;
}
#container h1{
font-size: 15pt;
text-align: left;
}
#dropDowns
{
width: 100%;
text-align: center;
padding-bottom: 2em;
border-bottom: 1px solid gray;
border-color: #3399CC;
}
#dropDowns h1
{
font-size: 15pt;
text-align: center;
}

#client
{
width: 490px;
float: left;
clear: left;
padding-bottom: 1em;
}
#runClient
{
text-align: center;
}
#clientFrame
{

}
#server
{
width: 490px;
float:right;
clear:right;
padding-bottom: 1em;
}
#runServer
{
text-align: center;
}
#serverFrame
{

}

#results{
width: 100%;
clear:both;
padding-top: 0.5em;
border-top: 1px solid gray;
border-color: #3399CC;
}
#results h1{
text-align: left;
}

#serverResult
{
width: 490px;
float:right;
}

#clientResult
{
width:490px;
float: left;
}
